.iconWrapper {
  min-width: 32px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background: var(--color-semi-dark-blue);
  opacity: 0.5;
  display: grid;
  place-content: center;
  cursor: pointer;
  border: none;
  /* &:hover {
  background: white;

    & .icon {
      fill: white;
      color: var(--color-semi-dark-blue);
    }
  } */
  /* &:active {
    background: var(--color-semi-dark-blue);
    & .icon {
      fill: white;
      color: white;
    }
  } */
  @media (min-width: 550px) {
    top: 16px;
    right: 16px;
  }
}

.iconWrapper > svg {
  display: block;
}

.icon {
  height: 24px;
  width: 19px;
  fill: var(--color-semi-dark-blue);
  color: white;
}

.bookMarked {
  fill: white;
  color: white;
}
