.searchBar {
  display: flex;
  gap: 24px;
  align-items: center;
}

.icon {
  width: 18px;
  height: 18px;
  stroke: white;
  @media (min-width: 550px) {
    width: 24px;
    height: 24px;
  }

  @media (min-width: 1100px) {
    margin-bottom: 14px;
  }
}

.textInput {
  flex: 1;
  position: relative;
  border: none;
  padding: 0px;
  font-size: 16px;
  font-weight: var(--font-weight-light);

  @media (min-width: 550px) {
    font-size: 24px;
    font-weight: var(--font-weight-light);
  }

  @media (min-width: 1100px) {
    &:focus,
    &:active {
      border-bottom: 1px solid var(--color-greyish-blue);
    }
    padding-bottom: 14px;
  }
}
